<html>
   <body>
      
      <form action = "{{ url_for('addrecadmin') }}" method = "POST">
         <h3>Admin Information</h3>

         admin_id<br>
         <input type = "INT" name = "id" /><br>

         email<br>
         <input type = "text" name = "email" /></br>
         
         
         user_name<br>
         <input type = "text" name = "nm" /><br>
         
         Password<br>
         <input type = "text" name = "pin" /><br>
         

         <input type = "submit" value = "submit" /><br>

      </form>

         <hr>

         <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
           
       
            <h1 align= "left"> {{ msg }} </h1>
            <p align="left"><a  href= "{{ url }}" class="btn btn-primary btn-large"> Gp back to homepage</a>
            </p>
        </header>

     

    </div>
      
   </body>
</html>