{% extends "layouts/base.html" %}
{% block content %}
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                Hello <strong>{{name}}</strong> ({{email}})!
                Hello <strong>{{gender}}</strong> ({{address}})
            </div>
            <div class="title">
                <h1>Flask code</h1>
            </div>
                
        
        </div>
    </body>
{% endblock %}

